body{
    background-color: rgba(8, 173, 8, 0.58);
    text-align:center;
    color:  rgb(9, 139, 29);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav1{
    font-size: 25px;
}

.nav2{
    font-size: 18px;
}

h1{
    font-size: 40px;
}

a{
    color: chocolate;
    text-decoration: none;

}

a:hover{
    color: blue;
    text-decoration: line;
}

main{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;


}

h2{
    text-align: center;
    font-size: 30px;
}

img{
    width: 60%;
}

figure{
    text-align: center;
    font-style: italic;
    color: brown;

}

.introul{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}