
body {
    background-color: rgba(8, 173, 8, 0.58);
    text-align: center;
    color: rgb(9, 139, 29);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav1, .nav2 {
    font-size: 20px;
    margin: 15px;
}

.two {
    font-size: 18px;
    position: relative;
    top: -10px;
}

h1 {
    font-size: 40px;
}

a {
    color: chocolate;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(252, 248, 4);
    text-shadow: 0 0 5px #ccc, 0 0 10px #f0db00, 0 0 15px #f0db00, 0 0 20px #f0db00;
    
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

img {
    width: 100%;
    max-width: 600px;
}

figure {
    text-align: center;
    font-style: italic;
    color: brown;
}

.introul{
    text-align: left;
    margin: 0 10%;
}

.evaluations {
    text-align: left;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    h1, h2 {
        font-size: 35px;
    }

    .nav1, .nav2 {
        font-size: 22px;
    }

    .two {
        font-size: 16px;
    }

    img {
        max-width: 500px;
    }
}

@media screen and (max-width: 900px) {
    h1, h2 {
        font-size: 30px;
    }

    .nav1, .nav2 {
        font-size: 20px;
    }

    .two {
        font-size: 14px;
    }

    img {
        max-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    h1, h2 {
        font-size: 25px;
    }

    .nav1, .nav2 {
        font-size: 18px;
    }

    .two {
        font-size: 12px;
    }

    img {
        max-width: 300px;
    }


}
.slogan{
    margin-bottom: 50px;
}

.slogan p{
    width: 100%;
    border: 1.5px solid chocolate;
    padding: 15px;
    text-align: left;
}

.favicon{
    position: relative;
    top: 5px;
    height: 26px;
    width: 26px;
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.7));

}

.noCSS button{
    position: relative;
    top: -25px;
    background-color: chocolate;
    border-color: aquamarine;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav2{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}
.pageDesignedBy{
    position: relative;
    top: -30px;
}

.display{
    background-color: chocolate;
    height: 30px;
    font-size: 20px;
    color: yellow;
}
.keys button{
    height: 40px;
    width: 40px;
    background-color: green;
    color: yellow;
    border: 1px solid rgba(39, 184, 39, 0.893);
}
.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;

}