<h1>
    Krishna Patel's Keen Peacemaker || ITIS 3135
</h1>
<nav>
    <div class="nav1">
        <a href = "index.html"> Home </a> ||
        <a href = "introduction.html"> Introduction </a> ||
        <a href = "contract.html"> Contract </a> || 
        <a href = "tables.html"> Table </a> ||
        <a href = "forms.html"> Form </a> ||
        <a href = "webevaluations.html"> Web Evaluations </a> ||
        <a href = "firstScript.html"> First Scripts  </a> 



    </div>
</nav>
<nav class="two">  <a href = "Stuff\CRAPPY WEB+.htm"> CRAPPY SITE </a> </nav>