<h1>
    Krishna Patel's Keen Peacemaker || ITIS 3135
</h1>
<p><em>"Where Creativity Flourishes, Commerce Connects, and Community Thrives!"</em></p>

<!-- <nav>
    <div class="nav1">
        <a href = "index.html">Home</a> <img src="images/bear.png" alt="Favicon" class="favicon">
        <a href = "introduction.html">Introduction</a> <img src="images/bear.png" alt="Favicon" class="favicon">
        <a href = "contract.html">Contract</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "tables.html">Table</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "forms.html">Form</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "webevaluations.html">Web Evaluations</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "firstScript.html">First Scripts</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "about.html">About</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "byo_intro.html">BYO Introduction</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
        <a href = "calculator_try.html">CalculatorTry</a> <img src="images/bear.png" alt="Favicon" class="favicon">
        <a href = "calculator_fcc.html">Calculator fCC</a> <img src="images/bear.png" alt="Favicon" class="favicon">
        <a href = "arrays.html">Array</a> <img src="images/bear.png" alt="Favicon" class="favicon">
        <a href = "drawing.html">Drawing</a>






    </div>
</nav>
<nav class="two">  
    <a href = "Stuff\CRAPPY WEB+.htm">CRAPPY SITE</a> <img src="images/bear.png" alt="Favicon" class="favicon"> 
    <a href = "Hobby\index.html">Hobby Page</a>
</nav> -->

